<% include ../partials/header.ejs %>
    <% include ../partials/nav.ejs %>
        <div class="tab-content h-100-tabs" id="myTabContent">
            <div class=" h-100 tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="crawl-tab">
                <div class="container h-100">
                    <div class="row h-100 justify-content-center align-items-center">
                        <div class="col-md-6">
                            <h2 class="align-center"> G5 Quality Control</h2>
                            <input type="url" id="website" class="form-control" placeholder="Home Page URL" required autofocus>
                            <button id="crawl" class="btn btn-lg btn-primary btn-block g5-button">Crawl</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="customDict" role="tabpanel" aria-labelledby="dict-tab">
                <div class="container">
                    <h2 class="page-title">Custom Dictionary</h2>
                    <table class="table table-bordered table-striped" id="customDictWords">
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="results" role="tabpanel" aria-labelledby="results-tab">
                <% include ../partials/results.ejs %>
            </div>
            <div class="tab-pane jobs" id="jobs" role="tabpanel" aria-labelledby="jobs-tab">
                <div class="container">
                    <table class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <th>id</th>
                                <th>URL</th>
                                <th>Processing</th>
                                <th>Created</th>
                                <th>Updated</th>
                            </tr>
                            <% for(var i=0; i < jobs.length; i++) { %>
                                <tr>
                                    <td>
                                        <%= jobs[i].id %>
                                    </td>
                                    <td>
                                        <%= jobs[i].url %>
                                    </td>
                                    <td>
                                        <%= jobs[i].processing %>
                                    </td>
                                    <td>
                                        <%= jobs[i].createdAt %>
                                    </td>
                                    <td>
                                        <%= jobs[i].updatedAt %>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger" jobId="<%= jobs[i].id %>">Delete Job</button>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <% include ../partials/footer.ejs %>